<ion-header>
  <ion-navbar>
    <!---<ion-buttons>
      <button ion-button
              *ngIf="_us.activo()"
              (click)="_us.cerrar_sesion()"
              >
        Salir
      </button>
    </ion-buttons>-->
    <ion-title>
      FastExp
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <button ion-button
          block
          icon-left
          (click)="scan()">
  <ion-icon name="qr-scanner"></ion-icon>
    Realizar Scan
  </button>

    <ion-card>
      <ion-card-header *ngIf="patientFound">
        <h2>Nombre: {{patient.personal.name}}</h2>
        <h2>Apellido: {{patient.personal.lastName}}</h2>
        <h2>Direccion: {{patient.personal.addresses[0].street}}</h2>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li>Tipo de sangre: {{patient.medical.bloodType}}</li>
        </ul>
      </ion-card-content>
    </ion-card>

</ion-content>
