<ion-header>
  <ion-navbar>
    <!---<ion-buttons>
      <button ion-button
              *ngIf="_us.activo()"
              (click)="_us.cerrar_sesion()"
              >
        Salir
      </button>
    </ion-buttons>-->
    <ion-title>
      FastExp
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <button ion-button
          block
          icon-left
          (click)="scan()">
  <ion-icon name="qr-scanner"></ion-icon>
    Realizar Scan
  </button>
  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      Resultado del Scan: {{ scannedCode }}
    </ion-card-content>
  </ion-card>
</ion-content>
